
.dosis-200 {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;

}

.amatic-sc-regular {
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;

  }
  
.teko-300 {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
}

.doto-300 {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  font-size: 25px;

}

.sour-gummy-500 {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size: 25px;
  font-variation-settings:
    "wdth" 100;
}