
.font-audiowide {
    font-family: 'Audiowide', sans-serif;
    color: #152c6b;
}

.font-are-you-serious {
    font-family: 'Are You Serious', handwriting;
    font-size: 50px;
    color: #dd419c;
}

.font-annie-use-your-telescope {
    font-family: 'Annie Use Your Telescope', handwriting;
    font-size: 50px;
    color: #41d69d;
}

.font-akronim {
    font-family: 'Akronim', display;
    font-size: 50px;
    color: #abe91a;
}

.font-leckerli-one {
    font-family: 'Leckerli One', handwriting;
    font-size: 50px;
    color: #c21045d0;
}

















